description "manage {{base_name}} "

start on (local-filesystems and net-device-up IFACE!=lo)
stop on runlevel [!12345]
respawn
respawn limit 10 10

console log

# This is to avoid Upstart re-spawning the process upon `consul leave`
normal exit 0 INT

# stop consul will not mark node as failed but left
kill signal INT

setuid {{ansible_user}}
setgid {{ansible_user}}

pre-start script
      set -e
      while nc -z {{hostvars[inventory_hostname]['ansible_'+ethName]['ipv4']['address']}} 8300; do echo 'wait till port 8300 is free'; sleep 1; done   
end script

script
  # Make sure to use all our CPUs, because Consul can block a scheduler thread
  export GOMAXPROCS=`nproc`
  {{consul_home}}/consul {{options}}
end script

post-start script
 #https://github.com/hashicorp/consul/issues/1562  
   echo "start checking if we have a cluster leader by trying to acquire a lock"       
   while ! {{consul_home}}/consul lock -n 1 wait-for-consul echo "cluster should be ok because a lock was acquired"; do echo "[UPSTART] wait till can get a lock"; sleep 1; done
   while ! {{consul_home}}/consul  members|grep alive|wc -l|grep 5; do echo "[UPSTART] wait till all members join"; sleep 1; done
   
end script

